*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
}
nav img{
    align-items: start;
    width: 80px;
    padding-left: 10px;
}
nav ul{
    padding-left: 60vh;
    display: flex;
    

}
nav ul li{
    font-size: 15px;
    list-style: none;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
    
}

header{
    background: url(./img/F7.jpg ) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.vision{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}
.vision h3{
    font-size: 30px;
    padding: 10px;
}
.vision p{
    padding: 0px 60px;
    text-align: center;
}
.vision img{
    width: 300px;
    padding-top: 0;
}

.pastores{
    padding-top: 100px;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.pastores img{
    width: 700px;
    padding-right: 10vh;
    mask-image: linear-gradient(
        white 80deg,
        transparent 
    );
    
}
.pastores h2{
    font-size: 40px;
}
.pastores p{
    font-size: 20px;
    padding-top: 20px;
    padding-right: 10vh;
}
.servicios{
    background-color: #353535;
    display: flex;
    width: 100%;
    height: 100vh;
}
.servicios .snapwidget-widget{
padding-left: 30px;
padding-top: 40px;
}
.cultos{
    padding-top: 50px;
    padding-left: 40px;
}
.cultos h4{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 56px;
    font-family: inherit;
} 
.cultos h5{
    color: white;
    font-size: 26px;
    font-family: inherit;
}
.cultos div{
    padding: 10px;
}
.cultos h5{
    padding-bottom: 10px;
}
.cultos h6{
    font-size: 20px;
    color: white;
}
.cultos p{
    color: aliceblue;
}
.cultos button{
    margin-top: 10px;
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
}